:root {
  /* Define the color scheme and some common values for the application */
  --primary-color: #803d3b;
  --secondary-color: #e4c59e;
  --tertiary-color: #af8260;
  --main-border-radius: 40px;
  --main-medium-padding: 20px;
  --main-small-padding: 10px;
}

body {
  /* Set the default font and padding for the body */
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #322c2b;
}

h1 {
  /* Center the main title and set its color */
  text-align: center;
  color: var(--primary-color);
  font-family: "Playfair Display SC", serif;
  font-size: 2.5rem;
  font-weight: 900;
}

.todo-container {
  /* Style the main container for the to-do list */
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: var(--main-medium-padding);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-container {
  /* Style the container for the input field and add task button */
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: var(--main-border-radius);
}

.todo-input {
  /* Style the input field for adding new tasks */
  border: none;
  padding: var(--main-medium-padding);
  border-radius: var(--main-border-radius);
  width: 100%;
  background-color: transparent;
  font-family: inherit;
}

.todo-input:focus {
  /* Remove the outline when the input field is focused */
  outline: none;
}

.add-task-btn {
  /* Style the add task button */
  border: none;
  padding: var(--main-small-padding);
  border-radius: var(--main-border-radius);
  background-color: var(--primary-color);
  color: white;
  min-width: 90px;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-family: inherit;
}

.todo-list {
  /* Remove the default list style */
  list-style: none;
  padding: 0;
}

.todo-item {
  /* Style the individual to-do items */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--main-small-padding);
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: var(--main-border-radius);
  margin: 10px 0;
  font-family: inherit;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  animation: fadeIn 0.5s;
}

.todo-item:hover {
  /* Add a hover effect to the to-do items */
  background-color: rgba(255, 255, 255, 0.8);
  transform: translate(0px, 2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.todo-item.completed {
  /* Style the to-do items that are marked as completed */
  text-decoration: line-through 2px var(--primary-color);
  opacity: 0.5;
}

.delete-btn {
  /* Style the delete button */
  background-color: var(--primary-color);
  color: white;
  border-radius: var(--main-border-radius);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-family: inherit;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
