:root {
  --primary-color: #803d3b;
  --secondary-color: #e4c59e;
  --tertiary-color: #af8260;
  --main-border-radius: 40px;
  --main-medium-padding: 20px;
  --main-small-padding: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: var(--primary-color);
}

.todo-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: var(--main-medium-padding);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: var(--main-border-radius);
}

.todo-input {
  border: none;
  padding: var(--main-medium-padding);
  border-radius: var(--main-border-radius);
  width: 100%;
  background-color: transparent;
}

.todo-input:focus {
  outline: none;
}

.add-task-btn {
  border: none;
  padding: var(--main-small-padding);
  border-radius: var(--main-border-radius);
  background-color: var(--primary-color);
  color: white;
  min-width: 90px;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--main-small-padding);
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: var(--main-border-radius);
  margin: 10px 0;
}

.todo-item.completed {
  text-decoration: line-through 2px var(--primary-color);
  opacity: 0.5;
}

.delete-btn {
  background-color: var(--primary-color);
  color: white;
  border-radius: var(--main-border-radius);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
